name: Build

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ] 
    merge_group:
      branches: [ "main" ]
  
permissions:
    contents: read  

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '11', '17', '21']
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

    - name: Set up JDK ${{ matrix.java }} for x64
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        architecture: x64
      
    - name: Run the Maven verify phase
      run: mvn --batch-mode --update-snapshots verify -Dgpg.skip=true

  tag:
    if: github.event_name == 'push'
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: Tag-'${{ github.workflow }}'
    steps: 
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          

