name: Build

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ] 
    merge_group:
      branches: [ "main" ]
  
permissions:
    contents: read  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4

    - name: Set up JDK 17 for x64
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
      with:
        java-version: '17'
        distribution: 'temurin'
        architecture: x64
      
    - name: Run the Maven verify phase
      run: mvn --batch-mode --update-snapshots verify -Dgpg.skip=true

  tag:
    if: github.event_name == 'push'
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: Tag-'${{ github.workflow }}'
    steps: 
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          

