name: Release

on:
  release:
    types: [created]


jobs:
  release-central:
    runs-on: ubuntu-latest

    permissions:
        contents: read

    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
    
        - name: Set up JDK 11 for x64
          uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
          with:
            java-version: '17'
            distribution: 'temurin'
            architecture: x64
            server-id: central
            server-username: MAVEN_USERNAME
            server-password: MAVEN_PASSWORD
            gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
            gpg-passphrase: MAVEN_GPG_PASSPHRASE
        
        - name: Set version
          run: | 
            VERSION=${{ github.event.release.tag_name }}
            VERSION=${VERSION#v}
            mvn versions:set -DnewVersion=$VERSION
        
        - name: Publish package Maven Central
          run: mvn --batch-mode deploy -DSkipTests
          env:
            MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
            MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
            MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}
